<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
	<div th:fragment="common-admin-jslinks">
		<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
		<script
			th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
		<script th:src="@{/bower_components/fastclick/lib/fastclick.js}"></script>
		<script th:src="@{/dist/js/adminlte.min.js}"></script>
		<script
			th:src="@{/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js}"></script>
		<script th:src="@{/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js}"></script>
		<script
			th:src="@{/plugins/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
		<script
			th:src="@{/bower_components/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
		<script th:src="@{/bower_components/chart.js/Chart.js}"></script>
		<script th:src="@{/dist/js/pages/dashboard2.js}"></script>
		<script th:src="@{/dist/js/demo.js}"></script>
	</div>
</body>

</html>