<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="common-header">

<title>Coolcoupons</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Coolcoupons " />



<!-- Stylesheets -->
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"
	media="all" />
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"
	media="all" />
<link th:href="@{/css/fasthover.css}" rel="stylesheet" type="text/css"
	media="all" />
<link th:href="@{/css/popuo-box.css}" rel="stylesheet" type="text/css"
	media="all" />
<link th:href="@{/css/font-awesome.css}" rel="stylesheet"
	type="text/css" media="all" />
<link th:href="@{/css/jquery.countdown.css}" rel="stylesheet"
	type="text/css" media="all" />
</head>


<body>
	<div th:fragment="navbar">
		<!-- Page Preloder -->
		<div id="preloder">
			<div class="loader"></div>
		</div>

		<!-- Application Header -->
		<header class="header-section">

			<div class="header-top">
				<div class="container">

					<div class="row">

						<!-- logo -->
						<div class="col-lg-2 text-center text-lg-left">
							<a th:href="@{/}"><img class="site-logo" src="/img/logo.png"
								height="60px" /></a>
						</div>

						<!-- search bar -->
						<div class="col-xl-6 col-lg-5">

							<form class="header-search-form">
								<input type="text" placeholder="Search on Priya  ...." />
								<button>
									<i class="flaticon-search"></i>
								</button>
							</form>
						</div>

						<!-- Right Side menu-->
						<div class="col-xl-4 col-lg-5">
							<div class="user-panel">
								<div class="up-item">


									<div class="main-menu">
										<ul>
											<li><i class="flaticon-profile"></i> <a href="#">Account</a>
												<ul class="sub-menu">
													<li><a th:href="@{/login}">Login</a></li>
													<li><a th:href="@{/register}">Create Account</a></li>
													<li><a th:href="@{/admin}">Admin</a></li>
												</ul></li>
										</ul>
									</div>


									<!-- <i class="flaticon-profile"></i> <a th:href="@{/admin}">Sign</a> In
									or <a th:href="@{/}">Create Account</a> -->
								</div>

								<div class="up-item">
									<div class="shopping-card">
										<i class="flaticon-bag"></i> <span>0</span>
									</div>
									<a th:href="@{/cart}">Shopping Cart</a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>


			<!-- navbar -->

			<nav class="main-navbar">

				<div class="container">

					<ul class="main-menu">

						<li><a th:href="@{/}">Home</a></li>
						<li><a th:href="@{/categories}">Masalas</a></li>
						<li><a th:href="@{/categories}">Pickels</a></li>
						<li><a th:href="@{/categories}">Masala Pastes <span
								class="new">New</span>
						</a></li>
						<li><a href="#">Instant Mixes</a>
							<ul class="sub-menu">
								<li><a th:href="@{/categories}">Garlic Paste</a></li>
								<li><a th:href="@{/categories}">Papads</a></li>
								<li><a th:href="@{/categories}">Tamota Sas</a></li>
								<li><a th:href="@{/categories}">Mirchi powder</a></li>
							</ul></li>
						<li><a href="#">Ready To Eat</a>
							<ul class="sub-menu">
								<li><a th:href="@{/categories}">Nudeles</a></li>
								<li><a th:href="@{/categories}">Papads</a></li>
								<li><a th:href="@{/categories}">Maggi</a></li>
							</ul></li>
						<li><a th:href="@{/categories}">Spices</a></li>
					</ul>
				</div>
			</nav>
		</header>
		<!--Application Header section end -->
	</div>

	<div th:fragment="footer">

		<section class="footer-section">
			<div class="container">
				<div class="footer-logo text-center">
					<a th:href="@{/}"><img class="site-logo" src="/img/logo.png" /></a>

				</div>
				<div class="row">
					<div class="col-lg-4 col-sm-6">
						<div class="footer-widget about-widget">
							<h2>About</h2>
							<p>Bringing traditional taste to your kitchen for 38 years.
								Priya Foods is the registered trademark of Ushodaya Enterprises
								Private Limited, a part of renowned Ramoji Group headquartered
								in Hyderabad. Priya Foods's state-of-the-art and most expansive
								manufacturing facility is certified for Food Safety Management
								System - ISO 22000 : 2005 certification by Intertek
								certification limited, United Kingdom and HACCP certification by
								Intertek India Private Limited, New Delhi, India. This
								certification signifies an assurance to consumers, marketers,
								regulatory agencies and others regarding the quality and safety
								of the company’s products, hygiene and sanitation standards
								adopted by the facility, and their continued reliability.</p>
							<img src="img/cards.png" />
						</div>
					</div>
					<div class="col-lg-4 col-sm-6">
						<div class="footer-widget about-widget">
							<h2>Questions</h2>
							<ul>
								<li><a href="">About Us</a></li>
								<li><a href="">Track Orders</a></li>
								<li><a href="">Returns</a></li>
								<li><a href="">Jobs</a></li>
								<li><a href="">Shipping</a></li>
								<li><a href="">Blog</a></li>
							</ul>
							<ul>
								<li><a href="">Partners</a></li>
								<li><a href="">Bloggers</a></li>
								<li><a href="">Support</a></li>
								<li><a href="">Terms of Use</a></li>
								<li><a href="">Press</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6">
						<div class="footer-widget contact-widget">
							<h2>Contact</h2>
							<div class="con-info">
								<span>C.</span>
								<p>Priya Foods Pvt. Ltd</p>
							</div>
							<div class="con-info">
								<span>B.</span>
								<p>Ushodaya Enterprises Pvt. Ltd.(Foods Division) Eenadu
									Complex, Somajiguda, Hyderabad - 500 082</p>
							</div>
							<div class="con-info">
								<span>T.</span>
								<p>+91- 040-2359777</p>
							</div>
							<div class="con-info">
								<span>E.</span>
								<p>response@priyafoods.com</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="social-links-warp">
				<div class="container">


					<p class="text-white text-center mt-5">
						Copyright &copy;
						<script>
							document.write(new Date().getFullYear());
						</script>
						All rights reserved <i class="fa fa-heart-o" aria-hidden="true"></i>
						by <a href="https://colorlib.com" target="_blank">Margadari
							Computers</a>
					</p>

				</div>
			</div>
		</section>

	</div>

	<div th:fragment="body-bottom-scripts">
		<!--====== Javascripts & Jquery ======-->
		<script th:src="@{/js/jquery.min.js}"></script>

		<!-- <script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event) {
					event.preventDefault();
					$('html,body').animate({
						scrollTop : $(this.hash).offset().top
					}, 1000);
				});
			});
		</script> -->

		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/bootstrap-3.1.1.min.js}"></script>
		<script th:src="@{/js/minicart.js}"></script>
		<script th:src="@{/js/jquery.flexisel.js}"></script>
		<!-- <script>
			$('#myModal88').modal('show');
		</script> -->

	</div>
</body>
</html>