<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">

<body>

	<!-- online ads -->
	<div th:fragment="body-onlineads">

		<div class="top-brands" id="topcoupons">
			<div class="container">
				<div>&nbsp;</div>
				<div>&nbsp;</div>

				<h3>Online Ads</h3>
				<div class="brands-cont">

					<!-- <div th:if="${couponscount}">
						<h1 align="center">Ads Not Available Now</h1>
					</div> -->
					<div class="col-md-3 text-center"
						data-th-each="cat : ${categoriesList}">
						<div class="">

							<a th:href="@{'/products/'+${cat.id}}"> <img
								th:src="@{'image/uploads/categories/' + ${cat.imagePath}}"
								width="300px" alt="01" />
							</a>


						</div>
					</div>

				</div>

			</div>
		</div>

	</div>
	<!-- online ads -->

</body>
</html>