<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">

<body>

	<!-- voucher ads  -->
	<div th:fragment="body-voucherads">
		<div class="top-brands" id="topcoupons">
			<div class="container">
				<div>&nbsp;</div>
				<h3>Voucher Ads</h3>
				<div class="brands-cont">
					<div class="col-md-3 text-center"
						data-th-each="cat : ${couponsList}">
						<div class="brands">
							<img
								th:src="@{'image/uploads/coupons/' + ${cat.cc_coupon_imagepath}}"
								width="200px" alt="01" />
							<!-- <div class="coup-tit">
								<a th:text="${cat.coupon}"></a>
							</div> -->

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end of voucher ads -->

</body>
</html>