<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
<meta charset="utf-8" />
<title>CoolCoupons</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link th:href="@{/css/material-design-iconic-font.min.css}"
	rel="stylesheet" />
<link th:href="@{css/loginstyle.css}" rel="stylesheet" />

</head>

<body>
	<div class="wrapper" style="background-image: url('img/bgone.jpg');">
		<div th:if="${loginasAdmin}" class="inner">
			<form th:action="@{/admin}" method="post">
				<h3>Admin Login</h3>
				<div th:if="${error}" class="form-wrapper">
					<h4>Invalid Credentials</h4>
				</div>
				<div class="form-wrapper">
					<label for="">User Name</label> <input type="text"
						class="form-control" name="username" required="required" />
				</div>

				<div class="form-wrapper">
					<label for="">Password</label> <input type="password"
						class="form-control" name="password" required="required" />
				</div>
				<button>Login Now</button>
			</form>
		</div>
	</div>

</body>
</html>