<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />

<body>

	<!-- navigation -->
	<div th:replace="common/navigationbar :: body-navbar"></div>
	<!-- navigation -->

	<div>&nbsp;</div>

	<div th:replace="common/sliders :: body-sliders"></div>

	<!-- Online-coupons -->
	<div th:replace="common/onlineads :: body-onlineads"></div>
	<!-- //online-brands -->

	<!-- voucher-ads -->
	<div th:replace="common/voucherads :: body-voucherads"></div>
	<!-- voucher-ads -->

	<!-- about us -->
	<div th:replace="common/home :: body-aboutus"></div>
	<!-- end of about us -->

	<!-- newsletter -->
	<div th:replace="common/home :: body-newsletter"></div>
	<!-- //newsletter -->


	<!-- footer -->
	<div th:replace="common/footer :: body-footer"></div>
	<!-- //footer -->

	<!-- footer -->
	<div th:replace="common/home :: body-scripts"></div>
	<!-- //footer -->


</body>
</html>