<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />

<body>


	<!-- navigation -->
	<div th:replace="common/navigationbar :: body-navbar"></div>
	<!-- navigation -->
	<div>&nbsp;</div>


	
	<!-- Online-coupons -->
	<div class="top-brands" id="topcoupons">
		<div class="container">
			<h3>Online Ads</h3>
			<div class="brands-cont">
				<div th:if="${couponscount}">
					<h1 align="center">Ads Available Now</h1>
				</div>
				<div class="col-md-3 text-center"
					data-th-each="cat : ${subcategoriesList}">
					<div class="brands">
						<img th:src="@{'subcategories/' + ${cat.imagePath}}" width="200px"
							alt="01" />
						<!-- <div class="coup-tit">
							<a th:text="${cat.subCategoryName}"></a>
						</div> -->
					</div>
				</div>

			</div>

		</div>
	</div>
	<!-- //online-brands -->
	

	<!-- about us -->
	<div th:replace="common/home :: body-aboutus"></div>
	<!-- end of about us -->

	<!-- newsletter -->
	<div th:replace="common/home :: body-newsletter"></div>
	<!-- //newsletter -->


	<!-- footer -->
	<div th:replace="common/footer :: body-footer"></div>
	<!-- //footer -->

	<!-- footer -->
	<div th:replace="common/home :: body-scripts"></div>
	<!-- //footer -->


</body>
</html>