<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">

<body>

	<!-- online ads -->
	<div th:fragment="body-addinnerpage">

		<div class="top-brands" id="topcoupons">
			<div class="container">
				<div>&nbsp;</div>


				<h3>Ad Details</h3>

				<div class="col-md-12 w3ls_mobiles_grid_right">

					<div class="col-md-6 w3ls_mobiles_grid_right_left">
						<div class="w3ls_mobiles_grid_right_grid1">
							<img th:src="@{'/myads/' + ${ads.imagepath}}"
								class="img-responsive" />
							<div class="w3ls_mobiles_grid_right_grid1_pos1"></div>
						</div>
					</div>

					<div class="col-md-6 w3ls_mobiles_grid_right_left">

						<div>&nbsp;</div>
						<h2 th:text="${ads.adtitle}" align="center"></h2>
						<div>&nbsp;</div>
						<h6 th:text="${ads.adoffer}" align="center"></h6>
						<div>&nbsp;</div>
						<table class="table table-responsive">

							<tbody>

								<tr>
									<td style="font-family: inherit; color: #000; font-size: 13px;">Company
										or Store Name</td>
									<td style="font-family: inherit; color: #000; font-size: 13px;">:</td>
									<td style="font-family: inherit; color: #000; font-size: 18px;"
										th:text="${ads.adtitle}"><b></b></td>
								</tr>

								<tr>
									<td style="font-family: inherit; color: #000; font-size: 13px;">Contact
										Person</td>
									<td style="font-family: inherit; color: #000; font-size: 13px;">:</td>
									<td style="font-family: inherit; color: #000; font-size: 18px;"
										th:text="${ads.contact_name}"><b></b></td>
								</tr>

								<tr>
									<td style="font-family: inherit; color: #000; font-size: 13px;">Contact
										No.</td>
									<td style="font-family: inherit; color: #000; font-size: 13px;">:</td>
									<td style="font-family: inherit; color: #000; font-size: 18px;"
										th:text="${ads.contact_number}"><b></b></td>
								</tr>

								<tr>
									<td style="font-family: inherit; color: #000; font-size: 13px;">Email</td>
									<td style="font-family: inherit; color: #000; font-size: 13px;">:</td>
									<td style="font-family: inherit; color: #000; font-size: 18px;"
										th:text="${ads.contact_email}"><b></b></td>
								</tr>
								<tr>
									<td style="font-family: inherit; color: #000; font-size: 13px;">Deal</td>
									<td style="font-family: inherit; color: #000; font-size: 13px;">:</td>
									<td style="font-family: inherit; color: #000; font-size: 18px;"
										th:text="${ads.adoffer}"><b></b></td>
								</tr>


								<tr>
									<td style="font-family: inherit; color: #000; font-size: 13px;">Address</td>
									<td style="font-family: inherit; color: #000; font-size: 13px;">:</td>
									<td style="font-family: inherit; color: #000; font-size: 18px;"
										th:text="${ads.contact_address}"><b></b></td>
								</tr>

							</tbody>
						</table>


						<div>&nbsp;</div>


					</div>

				</div>
			</div>
		</div>

	</div>



	<!-- online ads -->
</body>
</html>