<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="common-header">

<title>CoolCoupons</title>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Coolcoupons " />
<link th:href="@{/images/icons/favicon.ico}" rel="icon" type="image/png" />
<link th:href="@{/homecss/bootstrap.css}" rel="stylesheet" type="text/css"
	media="all" />
<link th:href="@{/homecss/style.css}" rel="stylesheet" type="text/css"
	media="all" />
<link th:href="@{/homecss/fasthover.css}" rel="stylesheet" type="text/css"
	media="all" />
<link th:href="@{/homecss/popuo-box.css}" rel="stylesheet" type="text/css"
	media="all" />
<link th:href="@{/homecss/font-awesome.css}" rel="stylesheet"
	type="text/css" media="all" />

<script th:src="@{homejs/jquery.min.js}"></script>
<script th:src="@{homejs/bootstrap-3.1.1.min.js}" type="text/javascript"></script>

<link th:href="@{/homecss/jquery.countdown.css}" rel="stylesheet"
	type="text/css" media="all" />

<link href='//fonts.googleapis.com/css?family=Glegoo:400,700'
	rel='stylesheet' type='text/css' />
<link
	href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
	rel='stylesheet' type='text/css' />

<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event) {
			event.preventDefault();
			$('html,body').animate({
				scrollTop : $(this.hash).offset().top
			}, 1000);
		});
	});
</script>
<script type="text/javascript">
	function loadContent(url) {
		alert(url)
	}
</script>
</head>

</html>