<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">

<body>


	<!-- about us -->
	<div th:fragment="body-aboutus">
		<div class="new-products" id="aboutus">
			<div class="container">
				<h3 style="font-size: 26px; color: #c51911;" align="center">ABOUT
					US</h3>

				<p
					style="font-size: 20px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">
					<a>www.coolcoupons.in</a>. has been a focused local coupon
					advertising platform. We believe by offering an incentive through a
					discount coupon you are giving those potential customers a reason
					to choose your business.
				</p>
				<div>&nbsp;</div>

				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Business : A professionally done coolcoupons book
					will boost your sales and attract many new customers. It is easy
					for your customers to take advantage of your offers. There are also
					several bindery options available, as well as padded coolcoupons
					book, or individual coupons.</p>
				<div>&nbsp;</div>

				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Many companies use coupons to attract customers to
					shop at their store or use their services &#x2010; why not give
					your customers entire coupon books! A good variety of offers can
					attract all different types of people who have different shopping
					habits.</p>
				<div>&nbsp;</div>

				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">These coolcoupons book are completely custom and
					can be set up any way you wish. Choose any number of pages you
					want. You can make each page an individual coupon or set up each
					page to have multiple coupons. These coolcoupons book can be used
					as either a promotional give away or different rewards.</p>
				<div>&nbsp;</div>



			</div>
		</div>



		<div class="new-products" id="vm">
			<div class="container">
				<h3
					style="font-size: 26px; color: #c51911; letter-spacing: -1px; font-family: serif;"
					align="left">Values &amp; Mission</h3>
				<p
					style="font-size: 20px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Trust : An honest approach in everything we do.</p>
				<div>&nbsp;</div>

				<p
					style="font-size: 20px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Caring : Going above and beyond for our customers.</p>

				<div>&nbsp;</div>

				<p
					style="font-size: 20px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Accountability : Taking ownership in our efforts.</p>

				<div>&nbsp;</div>

				<p
					style="font-size: 20px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Quality : Working harder to improve our products.</p>

				<div>&nbsp;</div>

				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px;; font-family: serif;"
					align="left">Culture :Work hard, smart work, team work.</p>

				<div>&nbsp;</div>


			</div>
		</div>


		<div class="new-products" id="oa">
			<div class="container">
				<h3 style="font-size: 26px; color: #c51911;" align="center">online
					advertising</h3>
				<p
					style="font-size: 22px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">
					Advertise on <a>coolcoupons.in</a>
				</p>

				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Promote your business in local city, from as
					little as Rs 350 + Gst per month, minimum booking 6
					months.Reaching, thousands of online customers.Often with online
					advertising you can be left wondering if the people seeing your
					advertisement are likely to become actual customers. Using coupons
					enables you to track return.</p>

				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">
					<a>www.coolcoupons.in</a> has been a focused local coupon
					advertising platform. We believe by offering an incentive through a
					discount coupon you are giving those potential customers a reason
					to choose your business.
				</p>
				<div>&nbsp;</div>

				<p
					style="font-size: 22px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Full Profile Page Includes:</p>

				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">About your business,</p>

				<p style="font-size: 18px; color: #000; letter-spacing: -1px"
					align="left">Your Company Logo and Business Address Details,</p>

				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Two images,</p>

				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Mobile Number,</p>

				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Email Address</p>
				<div>&nbsp;</div>

				<p
					style="font-size: 22px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Coupon Content Includes:</p>

				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Company Logo,</p>

				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">One Image,</p>

				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Your Address Details,</p>

				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Coupon offer details,</p>

				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Expiry date and terms and conditions,</p>

				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Expiry date and terms and conditions,</p>

				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Relevant business category (e.g. Restaurants),</p>
				<div>&nbsp;</div>
				<p
					style="font-size: 22px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Every booking also includes:</p>
				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Your business and your offers on our FREE Android,</p>
				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Your offers featured in our email newsletters to
					subscribers,</p>

				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Pricing Summary:(Includes Full Business Profile
					and 3 Voucher Offers)</p>
				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">6 MONTH BOOKING : Rs 350+Gst per month,</p>
				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">12 MONTH BOOKING : Rs 300+Gst per month.</p>
				<div>&nbsp;</div>
			</div>
		</div>


		<div class="new-products" id="cca">
			<div class="container">
				<h3 style="font-size: 26px; color: #c51911;" align="center">coolcoupons
					book advertising</h3>
				<p
					style="font-size: 22px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Promote your brand direct to local homes.</p>

				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Our coolcoupons Book, are packed with local
					savings customers want. The coolcoupons book contains discounts,
					special offers. Unique cheque-book sized publication.</p>


				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Extremely cost effective.</p>


				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Huge consumer appeal.</p>

				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Large distribution coverage.,</p>

				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">
					Dedicated website at <a>coolcoupons.in.</a>
				</p>
				<div>&nbsp;</div>
				<p
					style="font-size: 22px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Coverage</p>

				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Our mass coverage distribution means that we
					deliver to just under 3,000 homes.</p>

				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Advertise in our local city/town from as little as
					Rs 3000+Gst per issue.</p>
				<div>&nbsp;</div>

				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">
					<a>coolcoupons.in</a> has quickly become a popular destination for
					local savers to find and print their favourite coupons.
				</p>
				<div>&nbsp;</div>

				<p
					style="font-size: 22px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">your coupons</p>

				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">Included with your advert in the coupons book, you
					will also have your offers promoted on our website. (If you are
					unable to create your own artwork, this is not a problem
					coolcoupons can create your artwork for a small charge of Rs
					250+Gst).</p>
				<div>&nbsp;</div>
				<p
					style="font-size: 22px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">COMPANY PROFILE</p>

				<p
					style="font-size: 18px; color: #000; letter-spacing: -1px; font-family: serif;"
					align="left">In addition you will also have a full company
					profile page on our website which includes business overview, logo,
					photos, contact details.</p>
				<div>&nbsp;</div>
			</div>
		</div>

	</div>
	<!-- end about us -->


</body>
</html>