<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">

<body>

	<div th:fragment="body-navbar">

		<!-- desktop header -->
		<div class="header" id="home1">
			<div class="container hidden-xs mob-640">
				<div class="w3l_logo pull-left">
					<img src="/images/logo.jpg" alt="logo" width="240" />
				</div>

				<div class="pull-right">
					<!-- <form role="form" method="post" th:action="@{/subcategories}"> -->
					<form role="form" method="get" th:action="@{/}">
						<div class="des-location">

							<div class="input-group">
								<div class="input-group-btn">

									<button type="button" class="btn btn-default dropdown-toggle"
										data-toggle="dropdown">
										<span id="srch-category"> SELECT YOUR CITY. </span> <span
											class="caret"></span>
									</button>
									<ul class="dropdown-menu" id="mnu-category">
										<li data-th-each="citi : ${cityList}"><a
											th:href="@{'/'+${citi.cityid}}" th:text="${citi.cityname}"></a></li>
									</ul>
								</div>
								<input type="hidden" id="txt-category" /> <input type="text"
									id="txt-search" class="form-control"
									placeholder="Search for..." /> <span class="input-group-btn">
									<button id="btn-search" type="submit" class="btn btn-default">
										<span class="glyphicon glyphicon-search"></span>
									</button>
								</span>
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>
		<!-- end of desktop header -->

		<div class="navigation" id="home1">
			<div class="container">
				<!-- navigation -->
				<nav class="navbar navbar-default">
					<div class="m-logo hidden-md hidden-lg ">
						<!-- <img src="images/mlogo.png" width="140" alt="logo" /> -->
						<h4 style="color: white; align: center; margin-top: 10px">CoolCoupons</h4>
					</div>

					<div class="navbar-header nav_2 ">
						<button type="button"
							class="navbar-toggle collapsed navbar-toggle1"
							data-toggle="collapse" data-target="#bs-megadropdown-tabs">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
						<ul class="nav navbar-nav">
							<li><a href="#topcoupons" class="scroll">Categories</a></li>
							<li><a href="#aboutus" class="scroll">About Us</a></li>
							<li><a href="#vm" class="scroll">Values &amp;
									Mission</a></li>
							<li><a href="#oa" class="scroll">online advertising</a></li>
							<li><a href="#cca" class="scroll">coolcoupons book advertising</a></li>
							<li><a href="#contactus" class="scroll">Contact Us</a></li>
						</ul>
					</div>

					<!-- mobile header -->

					<div class="pull-right mobile-search hidden-md hidden-lg">

						<!-- <form role="form" method="post" th:action="@{/subcategories}"> -->
						<form role="form" method="get" th:action="@{/}">


							<div class="input-group">
								<div class="input-group-btn">
									<button id="btn-search" type="submit"
										class="btn btn-default form-control btn-nobor">
										<small><i class="fa fa-search location-icon"></i>
											Search</small>
									</button>
								</div>
								<div class="input-group-btn">

									<button type="button"
										class="btn btn-default dropdown-toggle btn-nobor"
										data-toggle="dropdown">
										<small><span class="input-group-btn"> <i
												class="fa fa-map-marker location-icon"></i>
										</span></small> <span id="srch-category"> SELECT YOUR CITY.. </span> <span
											class="caret"></span>
									</button>
									<ul class="dropdown-menu" id="mnu-category">
										<li data-th-each="citi : ${cityList}"><a
											style="color: green; font-size: 17px;"
											th:href="@{'/'+${citi.cityid}}" th:text="${citi.cityname}"></a></li>
									</ul>
								</div>
							</div>

						</form>
					</div>
				</nav>
				<!-- navigation -->
			</div>
		</div>
	</div>
</body>
</html>