<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">

<body>

	<div th:fragment="body-othnavbar">
		<div class="navigation" id="home1">
			<div class="container">

				<nav class="navbar navbar-default">

					<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
						<ul class="nav navbar-nav">
							<li><a href="#topcoupons" class="scroll">COOLCOUPONS</a></li>
							
						</ul>
					</div>

					<div class="m-logo hidden-md hidden-lg ">
						<!-- <img src="images/mlogo.png" width="140" alt="logo" /> -->
						<h4 style="color: white; align: center; margin-top: 15px">CoolCoupons</h4>
					</div>
				</nav>

			</div>
		</div>
	</div>
</body>
</html>