<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
	<section th:fragment="page-admin-adsform" class="content">

		<div class="row">

			<!-- Form -->
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">New Ad</h3>
					</div>

					<form role="form" method="post" enctype="multipart/form-data">
						<div class="box-body">

							<div class="form-group">
								<label>Select City</label> <select class="form-control select2"
									style="width: 100%;" name="cityid">
									<option data-th-each="city : ${cityList}"
										th:text="${city.cityname}" th:value="${city.cityid}" />
								</select>
							</div>

							<div class="form-group">
								<label>Select Category</label> <select
									class="form-control select2" style="width: 100%;"
									name="categoryid">
									<option data-th-each="category : ${categoryList}"
										th:text="${category.categoryname}"
										th:value="${category.categoryid}" />
								</select>
							</div>


							<div class="form-group">
								<label>Select Sub Category</label> <select
									class="form-control select2" style="width: 100%;"
									name="subcategoryid">
									<option data-th-each="subcategory : ${subcategoryList}"
										th:text="${subcategory.subcategoryname}"
										th:value="${subcategory.subcategoryid}" />
								</select>
							</div>


							<div class="form-group">
								<label for="exampleInputEmail1">Ad Title</label> <input
									type="text" class="form-control" name="adtitle"
									th:value="${adsdto.adtitle}" required="required" />
							</div>

							<div class="form-group">
								<label for="exampleInputEmail1">Contact Person Name</label> <input
									type="text" class="form-control" name="contact_name"
									th:value="${adsdto.contact_name}" required="required" />
							</div>

							<div class="form-group">
								<label for="exampleInputEmail1">Contact Person Number</label> <input
									type="text" class="form-control" name="contact_number"
									th:value="${adsdto.contact_number}" required="required" />
							</div>

							<div class="form-group">
								<label for="exampleInputEmail1">Email</label> <input type="text"
									class="form-control" name="contact_email"
									th:value="${adsdto.contact_email}" required="required" />
							</div>



							<div class="form-group">
								<label for="exampleInputEmail1">Address</label> <input
									type="text" class="form-control" name="contact_address"
									th:value="${adsdto.contact_address}" required="required" />
							</div>

							<div class="form-group">
								<label for="exampleInputEmail1">Enter Offer</label> <input
									type="text" class="form-control" name="adoffer"
									th:value="${adsdto.adoffer}" required="required" />
							</div>

							<div class="form-group">
								<label for="exampleInputEmail1">Offer Description</label> <input
									type="text" class="form-control" name="desc_offer"
									th:value="${adsdto.desc_offer}" required="required" />
							</div>



							<div class="form-group">
								<label for="exampleInputFile">File input</label> <input
									type="file" name="image" th:value="${adsdto.image}" />
							</div>

						</div>
						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>


				</div>
			</div>
			<!-- End Of Form -->

			<!-- List -->
			<div class="col-md-6 col-sm-6 col-xs-12">

				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">List Of Ads</h3>
					</div>

					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tr>
								<th>#</th>
								<th>Name</th>
								<!-- <th>Delete</th> -->
							</tr>
							<tr data-th-each="ads : ${adsList}">
								<td th:text="${ads.adid}"></td>
								<td th:text="${ads.adtitle}"></td>
								<!-- <td><a th:href="@{'/deleteSubcategory/'+${subcatg.subcategoryid}}"><i
										class="fa fa-trash"></i></a></td> -->
							</tr>
						</table>
					</div>

				</div>


			</div>
			<!-- End Of List -->

		</div>

	</section>



</body>

</html>