<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">


<body>
	<div th:fragment="body-categories">
		<div class="col-sm-6">
			<div>&nbsp;</div>
			<form class="form-horizontal" role="form" method="post"
				enctype="multipart/form-data">
				<fieldset style="background: #f2f2f2;">
					<h3 class="leg-te">Add Online Ad Category</h3>

					<div>&nbsp;</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Select City</label>
						<div class="col-sm-8">
							<select class="form-control" name="city_id">
								<option data-th-each="citi : ${citiesList}"
									th:text="${citi.cc_city_name}"  th:value="${citi.cc_city_id}"/>
							</select>
						</div>
					</div>


					<div>&nbsp;</div>
					<div class="form-group">
						<label class="control-label col-sm-3">Enter Title</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="name" id="name"
								required="required" th:value="${categoriesS.name}" />
						</div>
					</div>

					<div>&nbsp;</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Upload Image </label>
						<div class="col-sm-8">
							<input type="file" class="form-control" name="image" id="image"
								required="required" th:value="${categoriesS.image}" />
						</div>
					</div>

					<div>&nbsp;</div>

					<div class="form-group">
						<label class="control-label col-sm-3"></label>
						<div class="col-sm-8">
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</div>

				</fieldset>
				<div>&nbsp;</div>


			</form>
		</div>

		<div class="col-sm-6">
			<div>&nbsp;</div>

			<h2>List Of Categories</h2>
			<div>&nbsp;</div>

			<table class="table">

				<thead>
					<tr>
						<th>S.NO.</th>
						<th>Title</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>

				<tbody>
					<tr data-th-each="cat : ${categoriesList}">
						<td th:text="${cat.id}"></td>
						<td th:text="${cat.name}"></td>
						<td><i class="menu-icon fa fa-edit"></i></td>
						<td><i class="menu-icon fa fa-trash-o"></i></td>
					</tr>

				</tbody>

			</table>
		</div>
	</div>

</body>
</html>