<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
	<section th:fragment="page-admin-cityform" class="content">

		<div class="row">

			<!-- Form -->
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">Add City</h3>
					</div>

					<form role="form" method="post">
						<div class="box-body">

							<div class="form-group">
								<label>Select Country</label> <select
									class="form-control select2" style="width: 100%;"
									name="countryid">
									<option data-th-each="countries : ${countriesList}"
										th:text="${countries.countryname}"
										th:value="${countries.countryid}" />
								</select>
							</div>


							<div class="form-group">
								<label>Select State</label> <select class="form-control select2"
									style="width: 100%;" name="stateid">
									<option data-th-each="state : ${statesList}"
										th:text="${state.statename}" th:value="${state.stateid}" />
								</select>
							</div>


							<div class="form-group">
								<label for="exampleInputEmail1">City Name</label> <input
									type="text" class="form-control" name="cityname"
									th:value="${cityDto.cityname}" required="required" />
							</div>
						</div>
						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>


				</div>
			</div>
			<!-- End Of Form -->

			<!-- List -->
			<div class="col-md-6 col-sm-6 col-xs-12">

				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">List Of Cities</h3>
					</div>

					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tr>
								<th>#</th>
								<th>Name</th>
								<!-- <th>Delete</th> -->
							</tr>
							<tr data-th-each="cty : ${cityList}">
								<td th:text="${cty.cityid}"></td>
								<td th:text="${cty.cityname}"></td>
								<!-- <td><a th:href="@{'/deletecity/'+${cty.cityid}}"><i
										class="fa fa-trash"></i></a></td> -->
							</tr>
						</table>
					</div>

				</div>


			</div>
			<!-- End Of List -->

		</div>

	</section>



</body>

</html>