<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">


<body>
	<div th:fragment="body-coupons">
		<div class="col-sm-5">
			<div>&nbsp;</div>
			<form class="form-horizontal" role="form" method="post"
				enctype="multipart/form-data">
				<fieldset style="background: #f2f2f2;">
					<h3 class="leg-te">Add Book Voucher</h3>


					<div>&nbsp;</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Select City</label>
						<div class="col-sm-8">
							<select class="form-control">
								<option data-th-each="cat : ${citiesList}"
									th:text="${cat.cc_city_name}" />
							</select>
						</div>
					</div>

					<div>&nbsp;</div>


					<div class="form-group">
						<label class="control-label col-sm-3">Title </label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="coupon" id="coupon"
								required="required" th:value="${coupons.coupon}" />
						</div>
					</div>

					<div>&nbsp;</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Upload Image </label>
						<div class="col-sm-8">
							<input type="file" class="form-control" name="cc_coupon_image"
								id="cc_coupon_image" required="required"
								th:value="${coupons.cc_coupon_image}" />
						</div>
					</div>

					<div>&nbsp;</div>
					<div class="form-group">
						<label class="control-label col-sm-3"></label>
						<div class="col-sm-8">
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</div>

				</fieldset>
				<div>&nbsp;</div>


			</form>
		</div>

		<div class="col-sm-7">
			<div>&nbsp;</div>

			<h2>List Of Coupons</h2>
			<div>&nbsp;</div>

			<table class="table">

				<thead>
					<tr>
						<th>S.NO.</th>
						<th>Title</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>

				<tbody>
					<tr data-th-each="subcat : ${couponsList}">
						<td th:text="${subcat.cc_coupon_id}"></td>
						<td th:text="${subcat.coupon}"></td>
						<td><i class="menu-icon fa fa-edit"></i></td>
						<td><i class="menu-icon fa fa-trash-o"></i></td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>

</body>
</html>