<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">


<body>
	<div th:fragment="body-state">
		<div class="col-sm-5">
			<div>&nbsp;</div>
			<form class="form-horizontal" role="form" method="post">
				<fieldset style="background: #f2f2f2;">
					<h3 class="leg-te">Add State</h3>



					<div>&nbsp;</div>


					<div class="form-group">
						<label class="control-label col-sm-3">Country</label>
						<div class="col-sm-8">
							<select class="form-control" id="country_id" name="country_id" required="required">
								<option data-th-each="country : ${countriesList}"
									th:text="${country.cc_country_name}" th:value="${country.country_id}" />
							</select>
						</div>
					</div>

					<div>&nbsp;</div>



					<div class="form-group">
						<label class="control-label col-sm-3">State Name </label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="cc_state_name"
								id="cc_state_name" required="required"
								th:value="${states.cc_state_name}" />
						</div>
					</div>

					<div>&nbsp;</div>

					<div>&nbsp;</div>
					<div class="form-group">
						<label class="control-label col-sm-3"></label>
						<div class="col-sm-8">
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</div>

				</fieldset>
				<div>&nbsp;</div>


			</form>
		</div>

		<div class="col-sm-7">
			<div>&nbsp;</div>

			<h2>List Of States</h2>
			<div>&nbsp;</div>

			<table class="table">

				<thead>
					<tr>
						<th>S.NO.</th>
						<th>State Name</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>

				<tbody>
					<tr data-th-each="state : ${stateslist}">
						<td th:text="${state.state_id}"></td>
						<td th:text="${state.cc_state_name}"></td>
						<td><i class="menu-icon fa fa-edit"></i></td>
						<td><i class="menu-icon fa fa-trash-o"></i></td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>

</body>
</html>