<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">


<body>
	<div th:fragment="body-stores">
		<div class="col-sm-5">
			<div>&nbsp;</div>
			<form class="form-horizontal" role="form" method="post">
				<fieldset style="background: #f2f2f2;">
					<h3 class="leg-te">Add Store</h3>
					
					<div>&nbsp;</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Country</label>
						<div class="col-sm-8">
							<select class="form-control">
								<option data-th-each="cat : ${countriesList}"
									th:text="${cat.cc_country_name}" />
							</select>
						</div>
					</div>
					
					
					<div>&nbsp;</div>

					<div class="form-group">
						<label class="control-label col-sm-3">State</label>
						<div class="col-sm-8">
							<select class="form-control">
								<option data-th-each="cat : ${statesList}"
									th:text="${cat.cc_state_name}" />
							</select>
						</div>
					</div>
					
					
					
					<div>&nbsp;</div>

					<div class="form-group">
						<label class="control-label col-sm-3">City</label>
						<div class="col-sm-8">
							<select class="form-control">
								<option data-th-each="cat : ${citiesList}"
									th:text="${cat.cc_city_name}" />
							</select>
						</div>
					</div>

					<div>&nbsp;</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Locations</label>
						<div class="col-sm-8">
							<select class="form-control">
								<option data-th-each="cat : ${locationsList}"
									th:text="${cat.cc_loc_name}" />
							</select>
						</div>
					</div>
					
					<div>&nbsp;</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Category</label>
						<div class="col-sm-8">
							<select class="form-control">
								<option data-th-each="cat : ${categoriesList}"
									th:text="${cat.cc_catg_name}" />
							</select>
						</div>
					</div>
					

					<div>&nbsp;</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Sub Category</label>
						<div class="col-sm-8">
							<select class="form-control">
								<option data-th-each="cat : ${subcategoriesList}"
									th:text="${cat.cc_subcat_name}" />
							</select>
						</div>
					</div>

					<div>&nbsp;</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Name </label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="cc_store_name"
								id="cc_store_name" required="required"
								th:value="${stores.cc_store_name}" />
						</div>
					</div>

					<div>&nbsp;</div>

					<div>&nbsp;</div>
					<div class="form-group">
						<label class="control-label col-sm-3"></label>
						<div class="col-sm-8">
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</div>

				</fieldset>
				<div>&nbsp;</div>


			</form>
		</div>

		<div class="col-sm-7">
			<div>&nbsp;</div>

			<h2>List Of Stores</h2>
			<div>&nbsp;</div>

			<table class="table">

				<thead>
					<tr>
						<th>S.NO.</th>
						<th>Name</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>

				<tbody>
					<tr data-th-each="subcat : ${storesList}">
						<td th:text="${subcat.cc_store_id}"></td>
						<td th:text="${subcat.cc_store_name}"></td>
						<td><i class="menu-icon fa fa-edit"></i></td>
						<td><i class="menu-icon fa fa-trash-o"></i></td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>

</body>
</html>